# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/SensumUdred_Starter/nbproject/private/
/SensumUdred_Common/nbproject/private/
/SensumUdred_Business/nbproject/private/
/SensumUdred_Persistence/nbproject/private/
/SensumUdred_UI/nbproject/private/
/SensumUdred_UI/build/
/SensumUdred_Common/build/
/SensumUdred_Common/dist/
/SensumUdred_UI/dist/
/SensumUdred_Starter/build/
/SensumUdred_Persistence/build/
/SensumUdred_Business/build/
/SensumUdred_Business/dist/
/SensumUdred_Persistence/dist/
/SensumUdred_Starter/dist/